<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>CarRent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dettaglio</display-name>
    <servlet-name>dettaglio</servlet-name>
    <servlet-class>servlet.dettaglio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dettaglio</servlet-name>
    <url-pattern>/dettaglio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioServlet</display-name>
    <servlet-name>DettaglioServlet</servlet-name>
    <servlet-class>servlet.DettaglioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioServlet</servlet-name>
    <url-pattern>/DettaglioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaAdminServlet</display-name>
    <servlet-name>AreaAdminServlet</servlet-name>
    <servlet-class>servlet.AreaAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaAdminServlet</servlet-name>
    <url-pattern>/AreaAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogoServlet</display-name>
    <servlet-name>CatalogoServlet</servlet-name>
    <servlet-class>servlet.CatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogoServlet</servlet-name>
    <url-pattern>/CatalogoServlet</url-pattern>
  </servlet-mapping>
</web-app>